bidict==0.23.1
certifi==2024.6.2
charset-normalizer==3.3.2
colorlog==6.8.2
Cython==3.0.10
deffcode==0.2.5
h11==0.14.0
idna==3.7
numpy==1.26.4
opencv-python==4.10.0.82
python-engineio==4.9.1
python-socketio==5.11.2
requests==2.32.3
simple-websocket==1.0.0
tqdm==4.66.4
urllib3==2.2.1
vidgear==0.3.2
websocket-client==1.8.0
wsproto==1.2.0
